<div class="main-wrapper">
		
  <!-- Header -->
  <div class="header header-one">
    <div class="main-logo d-inline float-start d-lg-flex align-items-center d-none d-sm-none d-md-none">
      <div class="logo-white">
        <a href="index.html">
          <img src="" class="img-fluid logo-blue" alt="Logo">
        </a>
        <a href="index.html">
          <img src="" class="img-fluid logo-small" alt="Logo">
        </a>
      </div>
      <div class="logo-color">
        <a href="index.html">
          <img src="" class="img-fluid logo-blue" alt="Logo">
        </a>
        <a href="index.html">
          <img src="" class="img-fluid logo-small" alt="Logo">
        </a>
      </div>
    </div>
    <!-- Sidebar Toggle -->
    <a href="javascript:void(0);" id="toggle_btn">
      <span class="toggle-bars">
        <span class="bar-icons"></span>
        <span class="bar-icons"></span>
        <span class="bar-icons"></span>
        <span class="bar-icons"></span>
      </span>
    </a>
    <!-- /Sidebar Toggle -->
    
  </div>
  <!-- /Header -->
  
  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
        <ul class="sidebar-vertical">
          <!-- Main -->
          <li class="menu-title"><span>Main</span></li>
          <li class="submenu">
            <a href="#"><i class="fe fe-home"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
              <li><a class="active" href="index.html">Admin Dashboard</a></li>
            </ul>
          </li>
          <li class="submenu">
            <a href="#"><i class="fe fe-grid"></i> <span> Reservation</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
              <li><a href="chat.html">Chat</a></li>
              <li><a href="calendar.html">Calendar</a></li>
              <li><a href="inbox.html">Email</a></li>
            </ul>
          </li>
          <!-- /Main -->

          <!-- Customers -->
          <li class="menu-title"><span>Customers</span></li>
          <li>
            <a href="customers.html"><i class="fe fe-users"></i> <span>Customers</span></a>
          </li>
          <li>
            <a href="customer-details.html"><i class="fe fe-file"></i> <span>Customer Details</span></a>
          </li>
          <li>
            <a href="vendors.html"><i class="fe fe-user"></i> <span>Vendors</span></a>
          </li>
          <!-- /Customers -->

          <!-- Inventory -->
          <li class="menu-title"><span>Inventory</span></li>
          <li class="submenu">
            <a href="#"><i class="fe fe-package"></i> <span> Products / Services</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
              <li><a href="product-list.html">Product List</a></li>
              <li><a href="category.html">Category</a></li>
              
              <li><a href="units.html">Units</a></li>
            </ul>
          </li>
          <li>
            <a href="inventory.html"><i class="fe fe-user"></i> <span>Inventory</span></a>
          </li>
          <!-- /Inventory -->

          <!-- Sales -->
          <li class="menu-title"><span>Sales</span></li>							
          <li class="submenu"> 
            
            <a  href="#"><i class="fe fe-file"></i> <span>Invoices</span><span class="menu-arrow"></span></a>
            <ul style="display: none;">
              <li><a href="invoices.html">Invoices List</a></li>
              <li><a href="invoice-details-admin.html">Invoice Details (Admin)</a></li>
              <li><a href="invoice-details.html">Invoice Details (Customer)</a></li>
              <li><a href="invoice-template.html">Invoice Templates</a></li>
            </ul>
          </li>
          <li>
            <a href="recurring-invoices.html"><i class="fe fe-clipboard"></i> <span>Recurring Invoices</span></a>
          </li>
          <li>
            <a href="credit-notes.html"><i class="fe fe-edit"></i> <span>Credit Notes</span></a>
          </li>
          <!-- /Sales -->

          <!-- Purchases -->
          <li class="menu-title"><span>Purchases</span></li>							
          <li>
            <a href="purchases.html"><i class="fe fe-shopping-cart"></i> <span>Purchases</span></a>
          </li>
          <li>
            <a href="purchase-orders.html"><i class="fe fe-shopping-bag"></i> <span>Purchase Orders</span></a>
          </li>
          <li>
            <a href="debit-notes.html"><i class="fe fe-file-text"></i> <span>Debit Notes</span></a>
          </li>
          <!-- /Purchases -->

          <!-- Finance & Accounts -->
          <li class="menu-title"><span>Finance & Accounts</span></li>								
          <li>
            <a href="expenses.html"><i class="fe fe-file-plus"></i> <span>Expenses</span></a>
          </li>
          <li>
            <a href="payments.html"><i class="fe fe-credit-card"></i> <span>Payments</span></a>
          </li>
          <!-- /Finance & Accounts -->

          <!-- Reports -->
          <li class="menu-title"><span>Reports</span></li>								
          <li>
            <a href="payment-summary.html"><i class="fe fe-credit-card"></i> <span>Payment Summary</span></a>
            
          </li>
          <!-- /Reports -->
          <li class="submenu">
            <a href="#"><i class="fe fe-box"></i><span>Reports</span> <span class="menu-arrow"></span></a>
            <ul>
              <li><a href="expense-report.html">Expense Report</a></li>
               <li><a href="purchase-report.html">Purchase Report</a></li>
               <li><a href="purchase-return.html">Purchase Return Report</a></li>
               <li><a href="sales-report.html">Sales Report</a></li>
               <li><a href="sales-return-report.html">Sales Return Report</a></li>
               <li><a href="quotation-report.html">Quotation Report</a></li>
               <li><a href="payment-report.html">Payment Report</a></li>
               <li><a href="stock-report.html">Stock Report</a></li>
               <li><a href="low-stock-report.html">Low Stock Report</a></li>
               <li><a href="income-report.html">Income Report</a></li>
               <li><a href="tax-purchase.html">Tax Report</a></li>
               <li><a href="profit-loss-list.html">Profit & Loss</a></li>
            </ul>
          </li>	
          <!-- User Management -->
          <li class="menu-title"><span>User Management</span></li>
          <li>
            <a href="users.html"><i class="fe fe-user"></i> <span>Users</span></a>
          </li>
          <li>
            <a href="roles-permission.html"><i class="fe fe-clipboard"></i> <span>Roles & Permission</span></a>
          </li>
          <li>
            <a href="delete-account-request.html"><i class="fe fe-trash-2"></i> <span>Delete Account Request</span></a>
          </li>
          <!-- /User Management -->

          <!-- Settings -->
          <li class="menu-title"><span>Logout</span></li>							
          <li>
            <a href="login.html"><i class="fe fe-power"></i> <span>Logout</span></a>
          </li>

          
        </ul>
      </div>
    </div>
  </div>
  <!-- /Sidebar -->

</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>