<div class="row custom-container">
    <div class="col-sm-12">
        <button class="btn btn-primary mb-3 primary-btn" (click)="addEvent()">
            <i class="fa fa-plus"></i> Add Event
        </button>

        <div class="card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-center table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Event Name</th>
                                <th>Description</th>
                                <th>Hall</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let event of events">
                                <td>{{ event.event_id ? event.event_id : 'New' }}</td>

                                <!-- Editable Fields -->
                                <td>
                                    <input *ngIf="editingEventId === event.event_id || event === newEvent"
                                           type="text" [(ngModel)]="event.event_name" class="form-control">
                                    <span *ngIf="editingEventId !== event.event_id && event !== newEvent">
                                        {{ event.event_name }}
                                    </span>
                                </td>
                                <td>
                                    <input *ngIf="editingEventId === event.event_id || event === newEvent"
                                           type="text" [(ngModel)]="event.description" class="form-control">
                                    <span *ngIf="editingEventId !== event.event_id && event !== newEvent">
                                        {{ event.description }}
                                    </span>
                                </td>
                                <td>
                                    <select *ngIf="editingEventId === event.event_id || event === newEvent"
                                            [(ngModel)]="event.hall_id" class="form-control">
                                        <option *ngFor="let hall of halls" [value]="hall.hall_id">
                                            {{ hall.hall_name }}
                                        </option>
                                    </select>
                                    <span *ngIf="editingEventId !== event.event_id && event !== newEvent">
                                        {{ getHallName(event.hall_id) }}
                                    </span>
                                </td>

                                <!-- Actions -->
                                <td class="align-items-center">
                                    <button *ngIf="editingEventId === event.event_id || event === newEvent"
                                            class="btn btn-success me-2" (click)="saveEvent(event)">
                                        <i class="fa fa-check"></i> Save
                                    </button>
                                    <button *ngIf="editingEventId === event.event_id || event === newEvent"
                                            class="btn btn-secondary me-2" (click)="cancelEdit(event)">
                                        <i class="fa fa-times"></i> Cancel
                                    </button>
                                    <button *ngIf="editingEventId !== event.event_id && event !== newEvent"
                                            class="btn btn-primary me-2" (click)="editEvent(event)">
                                        <i class="fa fa-pencil-alt"></i> Edit
                                    </button>
                                    <button *ngIf="editingEventId !== event.event_id && event !== newEvent"
                                            class="btn btn-danger me-2" (click)="deleteEvent(event.event_id)">
                                        <i class="fa fa-trash"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
