<div class="row custom-container">
    <div class="col-sm-12">
        <!-- Add Hall Button -->
        <button class=" mb-3 hall" (click)="addNewHall()">
            <i class="fa fa-plus"></i> Add Hall
        </button>

        <!-- Table of Halls -->
        <div class="card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-center table-hover">
                        <thead class="custom-thead">
                            <tr>
                                <th>ID</th>
                                <th>Hall Name</th>
                                <th>Capacity</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hall of halls; let i = index">
                                <td class="clr">{{ hall.hall_id || 'New' }}</td>
                                <td>
                                    <input *ngIf="hall.isEditing" type="text"
                                        class="form-control"
                                        [(ngModel)]="hall.hall_name" required>
                                    <span class="clr" *ngIf="!hall.isEditing">{{
                                        hall.hall_name }}</span>
                                </td>
                                <td>
                                    <input *ngIf="hall.isEditing" type="number"
                                        class="form-control"
                                        [(ngModel)]="hall.capacity" required>
                                    <span class="clr" *ngIf="!hall.isEditing">{{
                                        hall.capacity }}</span>
                                </td>
                                <td>
                                    <select *ngIf="hall.isEditing"
                                        class="form-control"
                                        [(ngModel)]="hall.isAvailable">
                                        <option [value]="3">Fully Available</option>
                                        <option [value]="1">Slot 1 Available</option>
                                        <option [value]="2">Slot 2 Available</option>
                                        <option [value]="0">Not Available</option>
                                    </select>
                                    <span *ngIf="!hall.isEditing" 
                                    [ngClass]="
                                        hall.isAvailable1 == 1 && hall.isAvailable2 == 1 ? 'badge bg-success-light' : 
                                        hall.isAvailable1 == 0 && hall.isAvailable2 == 0 ? 'badge bg-danger-light' : 
                                        hall.isAvailable1 == 1 && hall.isAvailable2 == 0 || hall.isAvailable1 == 0 && hall.isAvailable2 == 1 ? 'badge bg-warning' : 
                                        'badge bg-secondary-light'"                                  
                                        >
                                        {{ hall.isAvailable1 == 1 && hall.isAvailable2 == 1 ? 'Available' : 
                                        hall.isAvailable1 == 0 && hall.isAvailable2 == 0 ? 'Unavailable' : 
                                        hall.isAvailable1 == 1 && hall.isAvailable2 == 0 || hall.isAvailable1 == 0 && hall.isAvailable2 == 1 ? 'Partially Available' :
                                        'Unknown' }}
                                        </span>
                                </td>
                                <td class="align-items-center">
                                    <button *ngIf="hall.isEditing"
                                        class="btn1 me-2"
                                        (click)="saveHall(hall)">
                                        <i class="fa fa-check"></i> Save
                                    </button>
                                    <button *ngIf="hall.isEditing"
                                        class="btn btn-secondary me-2"
                                        (click)="cancelEdit(hall, i)">
                                        <i class="fa fa-times"></i> Cancel
                                    </button>
                                    <button *ngIf="!hall.isEditing"
                                        class="btnE me-2"
                                        (click)="editHall(hall)">
                                        <i class="fa fa-pencil-alt"></i> Edit
                                    </button>
                                    <button *ngIf="!hall.isEditing"
                                        class="btnD me-2"
                                        (click)="deleteHall(hall.hall_id, i)">
                                        <i class="fa fa-trash"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
