.badge.bg-success-light {
    background-color: #d4edda; /* Light green */
    color: #155724;
}

.badge.bg-danger-light {
    background-color: #f8d7da; /* Light red */
    color: #721c24;
}
.custom-container {
    width: 95%;
}
/* .primary-btn {
    background-color: #007bff;
    color: white; 
    margin-top: 10px;
    display: flex;
    margin-left: auto;
} */

.primary-btn {
    margin-top: 10px;
    margin-left: auto;
    display: block;
    width: fit-content; /* Ensures the button doesn’t stretch */
}

.primary-div {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Adds spacing between buttons */
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    table-layout: auto;
    max-width: 100%;
    color: #2C1775;
}
th:nth-child(5), td:nth-child(5) { 
    width: 180px; /* Adjust as needed */
    white-space: nowrap;
}

.heading {
    margin-top: 5px;
    margin-bottom: 20px;
}

.clr{
    color: #2C1775;
}

.clr1{
    color: #2C1775;
    font-weight: 600;
}

/* .table .thead-light {
    background: linear-gradient(90deg, #DBEAFF, #DCD8FF);

} */

/* .cllr{
    background: linear-gradient(90deg, #DBEAFF, #DCD8FF);

} */

/* thead.thead-light {
    background: linear-gradient(90deg, #DBEAFF, #DCD8FF) !important;
} */

.custom-thead th {
    background-color: #DBEAFF;
    /* color: black !important; */
}

.btn1{
    background-color: #EFEFEF;
}



.btnE{
    color: #28084B;
    background-color: #dddfe1;
    /* border-color: #0062cc; */
    border-radius: 5px;
    border-color: transparent;
    padding-left: 8px;
    padding-right: 8px;
}
.btnE:hover{
    color: #7539FF;
    background-color: #dddfe1;
    /* border-color: #0062cc; */
    border-radius: 5px;
    border-color: transparent;
    padding-left: 8px;
    padding-right: 8px;
}
.btnD{
    color: #28084B;
    background-color: #dddfe1;
    /* border-color: #0062cc; */
    border-radius: 5px;
    border-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}

.btnD:hover{
    color: #c62020;
    background-color: #dddfe1;
    /* border-color: #0062cc; */
    /* border: none; */
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.hall{
    background-color: #7539FF !important;
    color: white;
    float: right;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 10px;
    border: transparent;
    margin-top: 30px;

    margin-bottom: 50px !important;
    border: 1px solid #7539FF;
    margin-right: 20px;
}

.hall:hover{
    background-color: white !important;
    color: #7539FF;
    border: 1px solid #7539FF;
}